<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%=title %></title>
    <link type="text/css" href="./style.css" rel="stylesheet">
</head>

<body>

    <head>
        <h1><%=title %></h1>
        <h4><a href="/skateart">SKATEART</a></h4>
        <h4><a href="/">NEWS</a></h4>
        <h4><a href="/">ARTIST</a></h4>
        <h4><a href="/">ARTWORK</a></h4>
        <h4><a href="/">EVENTS</a></h4>
        <h4><a href="/aboutus">ABOUT US</a></h4>
        <h4><a href="/">CONTACT</a></h4>
    </head>

    <div>
        <img src="./pic/001.png" alt="KYNE" width="40px">
    </div>
</body>

</html>